<div class="logo">la prèfèrencè</div>
<div class="auth">
    {% if g.user %}
        <div><a href="{{ url_for('users.profile', id=g.user.id) }}"><img src="" alt="avatar" /></a></div>
        <div class="notifications">Invites <i class="far fa-bell"></i></div>
        <div><a href="{{ url_for('logout') }}">Log out <i class="fas fa-sign-out-alt"></i></a></div>
    {% else %}
    <div><a href="{{ url_for('signup') }}">Sign up <i class="fas fa-user-plus"></i></a></div>
        <div><a href="{{ url_for('login') }}">Log in <i class="fas fa-sign-in-alt"></i></a></div>
    {% endif %}
</div>
